html {
  height: 100%;
  width: 100%
}
body {
  font-size: 3em;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
}

.aboveCanvas {
  z-index: 10;
}

.fullScreen {
  width: 100%;
  height: 100%;
}

#bannerbox {
  display: none; /* starts hidden; displayed later */
}

#secondsLeft {
  position: absolute;
  right: 30px;
  top: 30px;
}
